.footer{
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}
.attribution  {
    font-size: 11px;
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}